{% extends 'base.html.twig' %}

{% block pagetitle %}Newsletter{% endblock %}

{% block body %}
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Mailingliste "{{ mailingliste.name }}" bearbeiten</h6>
    </div>
    <div class="card-body">
        <a href="{{ path('mailingliste') }}" class="btn btn-info btn-icon-split mb-3">
            <span class="icon text-white-50">
                <i class="fas fa-undo-alt"></i>
            </span>
            <span class="text">Zurück</span>
        </a>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}